<?xml version="1.0" encoding="UTF-8"?>
<app>
   <config>
      <playerbudget>36</playerbudget>
      <contenttype>UTF-8</contenttype>
      <seasonracecount>21</seasonracecount>
      <regdeadline>Thu Mar 3 9:40:00 EST 2016</regdeadline>
      <adminpwd>belizna</adminpwd>
      <tiebreakerdrivername>Fernando Alonso</tiebreakerdrivername>
   </config>
</app>
